@model IEnumerable<Atelier3.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h4>List of Student</h4>
<hr />
<form class="ms-md-auto pe-md-3 d-flex align-items-center" asp-action="Search" asp-controller="Student">
    <select class="form-control" asp-items="ViewBag.SchoolID" name="schoolid" size=1.5 style="width:300px ; height:45px;margin-left: 10px;margin-right: 10px;"></select>
    <div class="input-group">
        <input class="form-control" size="15" placeholder="tapez un Nom" type="search" name="name" style="width:300px ; height:45px;">
        <button type="submit" class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></button>
    </div>
</form>
<a class="btn bg-gradient-dark mb-0" asp-action="Index" asp-controller="Student" style="margin-top: 15px;padding-right: 35px;padding-left: 28px;">&nbsp;&nbsp;All Students</a>
<table class="table align-items-center mb-0">
    <thead>
        <tr>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.School)
            </th>
            <th style="text-align:center;">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.School.SchoolName)
                </td>
                <td style="text-align:center;">

                    <a class="btn btn-link text-dark px-3 mb-0" asp-action="Edit" asp-route-id="@item.StudentId"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a> |
                    <a class="btn btn-link text-dark px-3 mb-0" asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                    <a class="btn btn-link text-danger text-gradient px-3 mb-0" asp-action="Delete" asp-route-id="@item.StudentId"><i class="far fa-trash-alt me-2"></i>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
